

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="calendarWrapper">
    <div class="header">
        <h1>{{ currentMonth }}</h1>
        <div class="buttons">
            <button (click)="callParent('Calendar')" class="btn btn-primary"><a >Calendar</a></button>
            <button (click)="callParent('Goals')" class="btn btn-success"><a >My Goals</a></button>
        </div>
    </div>

    <div class="month">
        <div *ngFor="let week of weeks" class="week">
            <div *ngFor="let day of weekDays" id="{{week}}{{day}}" class="day"><h4>{{ day }}</h4></div>
        </div>
    </div>
</div>