
.month {
    height: 700px;
    width: 94%;
    display: inline-block;
    margin-left: 3%;
}
.day {
    height: 175px;
    width: 14.2857143%;
    background: radial-gradient(white, silver);
    display: inline-block;
    border: 2px solid black;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    transition: all .3s ease-in-out;
    vertical-align: top;
}
.currentDay {
    height: 175px;
    width: 100%;
    background: radial-gradient(white, rgb(101, 181, 255));
    transition: all .3s ease-in-out;
}
.completeGoal {
    height: 175px;
    width: 100%;
    background: radial-gradient(white, rgb(43, 238, 60));
    transition: all .3s ease-in-out;
}
.incompleteGoal {
    height: 175px;
    width: 100%;
    background: radial-gradient(white, rgb(255, 0, 0));
    transition: all .3s ease-in-out;
}
.currentDay:hover {
    background: radial-gradient(white, rgb(12, 137, 255));
    color: white;
    text-shadow: 2px 2px 4px #2e2e2e;
    box-shadow: 4px 4px 8px black;
}
.completeGoal:hover {
    background: radial-gradient(white, rgb(0, 255, 21));
    color: white;
    text-shadow: 2px 2px 4px #2e2e2e;
    box-shadow: 4px 4px 8px black;
}
.incompleteGoal:hover {
    background: radial-gradient(white, rgb(221, 0, 0));
    color: white;
    text-shadow: 2px 2px 4px #2e2e2e;
    box-shadow: 4px 4px 8px black;
}
.day:hover {
    transform: scale(1.1);
    background: radial-gradient(white, rgb(110, 255, 199));
    color: white;
    text-shadow: 2px 2px 4px black;
    box-shadow: 4px 4px 8px black;
}