

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="calendarWrapper">
    <div class="header">
        <h1>{{ currentMonth }}</h1>
        <div class="buttons">
            <button class="btn btn-warning" (click)="getMonthDays()">TEST</button>
            <button (click)="callParent('Calendar')" class="btn btn-primary"><a >Calendar</a></button>
            <button (click)="callParent('Goals')" class="btn btn-success"><a >My Goals</a></button>
        </div>
        <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
            <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">{{ selectMessage }}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
                <button *ngFor="let goal of allGoals" (click)="goalSelect(goal._id)" ngbDropdownItem>{{ goal.Name }}</button>
            </div>            
        </div>
    </div>

    <div *ngIf="monthDays.length === 0" class="month">
        <div *ngFor="let week of weeks" class="week">
            <div *ngFor="let day of weekDays" id="{{week}}{{day}}" class="defaultDay"><h4>{{ day }}</h4></div>
        </div>
    </div>

    <div *ngIf="monthDays.length >= 1" class="month">
        <div *ngFor="let info of monthDays" class="day">
            <div *ngIf="info.Day === currentDay" class="currentDay">
                <h4>{{ info.WeekDay }}</h4>
                <h4>{{ info.Day }}</h4>
            </div>
            <div *ngIf="info.Day != currentDay">
                <h4>{{ info.WeekDay }}</h4>
                <h4>{{ info.Day }}</h4>
            </div>
        </div>
    </div>

</div>