
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="mainContainer">
  <app-calendar *ngIf="page === 'Calendar'" (getGoals)="getGoals()" (navLink)="showPage($event)" [dateInfo]="dateInfo" [allGoals]="allGoals"></app-calendar>
  <app-goal-pages *ngIf="page === 'Goals'" (getGoals)="getGoals()" (navLink)="showPage($event)" [dateInfo]="dateInfo" [allGoals]="allGoals"></app-goal-pages>
</div>

<router-outlet></router-outlet>