/* You can add global styles to this file, and also import other style files */

.mainWrapper {
    height: 90vh;
    width: 90%;
    background-color: #2e2e2e;
    border-radius: 20px;
    margin: auto;
    overflow: auto;
    padding-bottom: 80px;
}
.header {
    min-height: 100px;
    width: 100%;
    background-color: #e2e2e2;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    border: 4px solid orange;
    font-size: 24px;
    margin-bottom: 20px;
}
.header .buttons button {
    height: 34px;
    font-size: 16px;
    font-weight: bold;
    margin: 2px;
    color: white;
    border: 2px solid black;
}