
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="mygoalsWrapper">
    <div class="header">
        <h1>My Goals</h1>
        <button class="btn btn-primary" style="height: 34px; font-size: 16px; font-weight: bold; margin: 2px; color: white; border: 2px solid black"><a (click)="callParent('Calendar')">Calendar</a></button>
        <button class="btn btn-success" style="height: 34px; font-size: 16px; font-weight: bold; margin: 2px; color: white; border: 2px solid black"><a (click)="callParent('Goals')">My Goals</a></button>
    </div>
    
    <div class="oneGoal">
        <h1>Goal Name</h1>
        <h4>Goal description</h4>

    </div>
</div>
