
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="myGoalsWrapper">
    <div class="header">
        <h1>My Goals</h1>
        <div class="buttons">
            <button (click)="callParent('Calendar')" class="btn btn-primary"><a>Calendar</a></button>
            <button (click)="callParent('newGoal')" class="btn btn-primary"><a>New Goal</a></button>
        </div>
    </div>
    <h2 class="goalsHeader">Daily Goals!</h2>
    <div *ngFor="let goal of allGoals; let i = index" (click)="getGoalInfo(goal._id)" class="test">
        <div *ngIf="goal['_id'] != showFullGoal" class="oneGoal">
            <h2 class="goalName">{{ goal.Name }}</h2>
            <div class="goalButtons">
                <button *ngIf="goal['CurrentMonth'][dayOfMonth-1]['Status'] != 'Complete'" (click)="makeStatusComplete(goal._id, goal)" class="btn btn-success"><a>Complete</a></button>       
                <button *ngIf="goal['CurrentMonth'][dayOfMonth-1]['Status'] === 'Complete'" disabled class="btn btn-primary"><a></a>Good Job!</button>     
                <button *ngIf="goal['CurrentMonth'][dayOfMonth-1]['Status'] != 'Incomplete'" (click)="makeStatusIncomplete(goal._id, goal)" class="btn btn-danger"><a>Incomplete</a></button>       
                <button *ngIf="goal['CurrentMonth'][dayOfMonth-1]['Status'] === 'Incomplete'" disabled class="btn btn-danger"><a></a>Cmon bro</button>     
            </div>
        </div>
        <div *ngIf="goal['_id'] === showFullGoal" class="oneGoal" id="tempOneGoal">
            <h2 class="goalName">{{ goal.Name }}</h2>
            <div class="goalButtons">
                <button *ngIf="goal['CurrentMonth'][dayOfMonth-1]['Status'] != 'Complete'" (click)="makeStatusComplete(goal._id, goal)" class="btn btn-success"><a>Complete</a></button>       
                <button *ngIf="goal['CurrentMonth'][dayOfMonth-1]['Status'] === 'Complete'" disabled class="btn btn-primary"><a></a>Good Job!</button>     
                <button *ngIf="goal['CurrentMonth'][dayOfMonth-1]['Status'] != 'Incomplete'" (click)="makeStatusIncomplete(goal._id, goal)" class="btn btn-danger"><a>Incomplete</a></button>       
                <button *ngIf="goal['CurrentMonth'][dayOfMonth-1]['Status'] === 'Incomplete'" disabled class="btn btn-danger"><a></a>Cmon bro</button>     
            </div>
            <div class="goalInfo">
                <p>Description: </p>
                <h4 class="goalDescription">{{ goal.Description }}</h4>
                <p class="deleteLink"><a (click)="deleteGoal(goal._id)">Delete</a></p>
            </div>
        </div>
    </div>
    <ul class="backgroundAnimation">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>