
.myGoalsWrapper {
    height: 90vh;
    width: 90%;
    background: linear-gradient(to left, #8942a8, #ba382f);
    border-radius: 20px;
    margin: auto;
    overflow: auto;
    padding-bottom: 80px;
}
.backgroundAnimation li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom: 40px;
}
.backgroundAnimation li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.backgroundAnimation li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 20s;
}
.backgroundAnimation li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}
.backgroundAnimation li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 25s;
}
.backgroundAnimation li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}
.backgroundAnimation li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}
@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

.goalsHeader {
    color: white;
    text-align: center;
    font-weight: bold;
}
.oneGoal {
    height: 90px;
    width: 50%;
    background-color: #e2e2e2;
    border-bottom: 2px solid black;
    padding: 10px;
    margin: 20px auto;
    border-radius: 25px;
    border: 3px solid black;
    transition: .2s all ease-in-out;
}
#tempOneGoal {
    min-height: 120px;
}
.oneGoal:hover {
    cursor: pointer;
    background-color: rgb(86, 159, 255);
    color: white;
    border: 3px solid white;
    transform: scale(1.1);
}
.oneGoal:hover .deleteLink {
    color: white;
}
.goalName {
    width: 60%;
    display: inline-block;
    text-align: center;
}
.goalButtons {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.goalInfo .goalDescription {
    width: 44%;
    text-align: left;
    display: inline-block;
}
.goalInfo p {
    display: inline-block;
    margin-right: 10px;
}
.deleteLink {
    width: 33%;
    color: #1ea1f1;
    text-align: right;
    display: inline-block;
    font-size: 18px;
}
.deleteLink:hover {
    text-decoration: underline;
    cursor: pointer;
}
